# dependencies
node_modules
.pnp
.pnp.js

# build output
dist
dist-ssr

# TypeScript composite build artifacts
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# env
.env
.env.local
.env.*.local

# misc
.cache
*.local
